/* General Rules */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    height: 100vh;
}

footer {
    height: 10%;
}

main {
    height: 90%;
}

/* Utilities */



.flex {
    display: flex;
}

a {
    text-decoration: none;
    font-size: small;
    font-weight: 700;
    color: #7d7f84;
}

/* Main */
.album-section {
    background-color: #141922;
    height: 85%;
}

.up-bar {
    background-color: #080b12;
    height: 15%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navigation {
    background-color: black;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.container {
    height: 100%;
}

.container-main {
    flex-grow: 1;
}

#logo-small {
    width: 35px;
}


.icon-aside {
    color: #b3b3b3;
    font-size: x-large;
    margin-top: 10px;
    text-align: center;
}

.fa-circle-arrow-down {
    font-size: x-small;
    margin-bottom: 20px;
}

#upgrade {
    color: white;
    width: 220px;
    height: 40px;
    border: 1px solid white;
    background-color: #080b1200;
    border-radius: 20px;
    margin-right: 10px;
    font-weight: 600;
}

.album-section {
    overflow-y: scroll;
}

.navigation-album {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.sub-navigation-album {
    display: flex;
    justify-content: center;

}

.navigation-album>* {
    margin-top: 30px;

}

img {
    width: 200px;
}

.card-album {
    width: calc(90% / 2);
    text-align: center;
}

/* Footer */

.container-footer {
    background-color: #282828;
    height: 100%;
}

/* Media query-xs */
/* Media query-s */
/* Media query-md */
/* Media query-l */